.journey h2 {
  font-size: 23px;
}

.journey h4 {
  font-size: 18px;
}

.journey-detail > div.row {
  margin-top: 2%;
  padding: 4% 0;
}

.et_pb_text_6.et_pb_text {
  color: #2667ff !important;
}

h2.et_pb_head_2 {
  font-size: 32px;
}

.et_pb_text_6 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 4px;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.et_pb_section {
  padding: 4% 0;
}

.et_pb_text_19 {
  border-bottom: solid;
  border-bottom-width: 2px;
  border-bottom-color: #0fbbff;
  margin-bottom: 5.82%;
}

.et_pb_column_19 {
  background-color: #ffffff;
  border-radius: 25px 25px 25px 25px;
  overflow: hidden;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.16);
}

.et_pb_row {
  padding: 2% 0;
}

.et_pb_toggle {
  max-height: 0;
  transition: max-height 1.5s ease-out;
  padding: 20px 20px 40px 20px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.09) !important;
}

.et_pb_toggle.active {
  max-height: 500px;
}

.et_pb_toggle i.fa {
  position: absolute;
  right: 0;
  color: #226ff7;
  font-size: 18px;
  top: 50%;
  margin-top: -9px;
}

h4.et_pb_toggle_title {
  position: relative;
  font-weight: 600;
}

.et_pb_toggle.active h4.et_pb_toggle_title {
  color: #226ff7 !important;
}

.et_pb_toggle_content {
  background: #fff;
  padding-top: 12px;
}
.et_pb_toggle_content p:last-child {
  margin-bottom: -15px;
}

.jp_intro {
  flex-basis: 20%;
}

div.et_pb_section.et_pb_section_7 {
  background-size: contain;
  background-image: url(/assets/img/ezgif-6-4a95546824ef.png) !important;
  background-color: #effaff;
  background-repeat: no-repeat;
  background-position: center;
}

.et_pb_section_7 ul {
  list-style: none;
  padding-left: 0;
  line-height: 2;
}

.et_pb_section_7 ul li i{
  color: #226ff7;
  padding-right: 1rem;
}

@media only screen and (min-width: 992px) {
  .et_pb_toggle.pd_dyn {
    padding-bottom: 55px;
  }
}

@media only screen and (max-width: 992px) {
  .container.journey-detail .row .col-lg-6 {
    padding-bottom: 40px;
  }

  .container.journey-detail .row.row_rvrs {
    flex-direction: column-reverse;
  }

  .jp_intro {
    flex-basis: 50%;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .jp_intro {
    flex-basis: 100%;
  }

  .container.journey-detail .row .col-lg-6 {
    padding-bottom: 30px;
  }

  .et_pb_toggle:not(.pd_dyn) {
    padding-bottom: 30px;
  }

  .et_pb_toggle.pd_dyn p {
    width: 90%;
  }

  h4.et_pb_toggle_title {
    font-size: 15px;
  }
}

@media only screen and (max-width: 450px) {
  .et_pb_toggle.pd_sm_dyn {
    padding-bottom: 40px;
  }

  .et_pb_toggle p {
    width: 90%;
  }
}
