.fitur-kursus .et_pb_txt_0 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #2667ff !important;
  margin-bottom: 8px;
}

.fitur-kursus section:nth-child(2) {
  background-color: #f2f6f9 !important;
}

.fitur-kursus .et_pb_column_9,
.fitur-kursus .et_pb_column_9.blue {
  background-color: #ffffff;
  border-radius: 25px 25px 25px 25px;
  overflow: hidden;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.16);
}

.fitur-kursus .et_pb_column_9.blue {
  color: #ffffff;
  background-color: #0b1461;
}

.fitur-kursus .et_pb_column_9 .et_pb_column_9_title {
  border-bottom: 2px solid #0fbbff;
  margin-bottom: 6%;
}

.fitur-kursus .et_pb_column_9 ul {
  list-style: none;
  padding: 0;
}

.fitur-kursus .et_pb_column_9 li {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.fitur-kursus .et_pb_column_9 li [class*='fa fa-'] {
  font-size: 25px;
  color: #2667ff;
}

.fitur-kursus .et_pb_column_9 li p {
  margin: 0 0 0 18px;
}

.fitur-kursus .et_pb_column_9 li p.disabled {
  color: rgba(92, 97, 133, 0.36);
}

.fitur-kursus .text-wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: rgb(255, 255, 255);
  text-align: center;
}

.fitur-kursus .text-wrapper h2 {
  font-weight: 600;
  font-size: 34px;
  color: rgb(255, 255, 255);
  margin-bottom: 48px;
}

.fitur-kursus .text-wrapper p {
  font-weight: 600;
  margin-bottom: 8px;
  text-transform: uppercase;
  color: #3bed9a !important;
}


.fitur-kursus .et_pb_column_9 {
  margin-top: 3rem;
}

@media only screen and (max-width: 991px) {
  .fitur-kursus section:first-child .row:first-child .col-lg-7 {
    padding-top: 45px;
  }

  .fitur-kursus section:first-child .row:not(:first-child) .col-lg-6:nth-child(2) {
    padding-top: 45px;
  }
}