.detail-kursus .title {
  display: flex;
  height: 225px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-kursus button.subscribe-Kursus {
  display: flex;
  position: relative;
  transition: all 300ms ease 0ms;
  outline: none;
  border: none;
  align-items: center;
  padding: 0.3em 1em;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7em !important;
  transition: 0.2s;
  color: #ffffff;
  background-color: #3874ff;
  margin-top: 24px;
}

.detail-kursus button.subscribe-Kursus:hover {
  margin-left: -8px;
}

.detail-kursus button.subscribe-Kursus i.fa-angle-right {
  transition: all 300ms ease 0ms;
  font-size: 30px;
  margin-left: -8px;
  opacity: 0;
  visibility: hidden;
}

.detail-kursus button.subscribe-Kursus:hover i.fa-angle-right {
  visibility: visible;
  opacity: 1;
  margin-left: 8px;
}

.materi-kelas-public {
  max-height: 46px;
  transition: max-height 1.5s ease-out;
  margin-bottom: 20px;
  overflow: hidden;
}

.materi-kelas-public.active {
  max-height: 1000px;
}

.materi-kelas-public ul {
  list-style: none;
  padding: 0 20px;
  margin-top: 20px;
}

.materi-kelas-public .content,
.materi-kelas-public .parent-content {
  position: relative;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  background: #fbfbfb;
  border: 1px solid #efefef;
  border-radius: 4px;
}

.materi-kelas-public .parent-content .fa {
  position: absolute;
  font-size: 20px;
  top: 50%;
  margin-top: -10px;
  right: 20px;
  color: #226ff7;
}

.materi-kelas-public .content .fa.fa-lock {
  color: #a1a1a1;
  margin-right: 10px;
}

.mentor-profile {
  display: flex;
  flex-wrap: wrap;
}

.mentor-profile > div {
  flex-basis: 50%;
}

.mentor-profile .mentor-photo img {
  width: 100%;
}

.mentor-profile .mentor-detail {
  padding-left: 30px;
}

.kursus-benefit {
  padding-left: 40px;
}

@media only screen and (max-width: 992px) {
  .kursus-benefit {
    margin-top: 1.5rem;
    padding-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  .mentor-profile > div {
    flex-basis: 100%;
  }
}
