.dashboard-main {
  min-height: 100vh;
  width: auto;
  background-color: #f7f8fa;
  margin-left: 280px;
  overflow-x: hidden;
  padding: 40px 20px 40px 20px;
  border-right: 1px solid #dee2e6;
}

.dashboard-main .card {
  padding: 20px;
}

.dashboard-main .kursus {
  display: flex;
  flex-direction: column;
}

.dashboard-main .kursus img {
  width: inherit;
}

.table thead th {
  border-top: 0;
  border-bottom-width: 1px;
  font-family: Medium, sans-serif;
  font-weight: initial;
}

.table tbody td {
  width: 50%;
}

.dashboard-main img {
  width: 100%;
}

.dashboard-main .progress-belajar.card:hover {
  box-shadow: 0 2px 4px 0 rgba(20, 23, 28, 0.15);
}

.dashboard-main .progress {
  margin-top: 4px;
}

.dashboard-main .card {
  color: #5c6185;
}

.dashboard-main a.card:hover h5 {
  color: #0056b3;
}

.dashboard-main a.card:hover {
  color: #0056b3;
  text-decoration: none;
  border: 1px solid #0056b3;
}

.dashboard-main .card-no-shadow {
  position: relative;
  padding: 20px 40px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(20, 23, 28, 0.15);
}

.dashboard-main .rekomendasi-wrapper {
  cursor: pointer;
  border: 2px solid #b2d1f1;
  transition: .2s;
  border-radius: 5px;
}

.dashboard-main .rekomendasi-wrapper h5 {
  transition: .2s;
}

.dashboard-main .rekomendasi-wrapper:hover {
  border: 2px solid #499aef;
  color: #499aef;
}

.dashboard-main .rekomendasi-wrapper:hover h5 {
  color: #499aef;
}

.dashboard-main .rekomendasi-wrapper .kursus-body {
  padding: 15px
}

.dashboard-main button.et_pb_button {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-width: 0px !important;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  padding: 0.3em 1em;
  line-height: 1.7em !important;
  transition: all 300ms ease 0ms;
  background-color: #ffffff;
  background-image: linear-gradient(45deg, #2b87da 0%, #2167ff 100%);
  color: #ffffff;
}

.dashboard-main button.et_pb_button:hover {
  color: #ffffff !important;
  background-image: initial !important;
  background-color: #151363 !important;
}

.dashboard-main button.et_pb_button i.fa-angle-right {
  transition: all 300ms ease 0ms;
  font-size: 30px;
  margin-left: -12px;
  opacity: 0;
  visibility: hidden;
}

.dashboard-main button.et_pb_button:hover i.fa-angle-right {
  visibility: visible;
  opacity: 1;
  margin-left: 12px;
}

@media screen and (max-width: 1200px) {
  .dashboard-main {
    margin-left: 200px;
  }
}

@media screen and (max-width: 768px) {
  .dashboard-main {
    margin-left: 0;
    padding: 20px 0;
  }
}
