.dashboard-main {
  min-height: 100vh;
  width: auto;
  background-color: #f7f8fa;
  margin-left: 280px;
  overflow-x: hidden;
  padding: 40px 20px 40px 20px;
  border-right: 1px solid #dee2e6;
}

.dashboard-main .card {
  padding: 20px;
}

.dashboard-main .kursus {
  display: flex;
  flex-direction: column;
}

.dashboard-main .kursus img {
  align-self: center;
}


.table thead th {
  border-top: 0;
  border-bottom-width: 1px;
  font-family: Medium, sans-serif;
  font-weight: initial;
}

.table tbody td {
  width: 50%;
}

.kursus img {
  width: inherit;
}

@media screen and (max-width: 1200px) {
  .dashboard-main {
    margin-left: 200px;
  }
}

@media screen and (max-width: 768px) {
  .dashboard-main {
    margin-left: 0;
    padding: 20px 0;
  }
}

