.sidenav {
  height: 100%;
  width: 280px;
  background-color: #4b5496;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.dashboard-nav {
  display: block;
  padding-bottom: 30px;
}

.dashboard-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 25px 0 0;
}

.dashboard-nav ul:before {
  content: attr(data-submenu-title);
  padding: 0 35px;
  margin-bottom: 8px;
  display: block;
  color: #2a41e8;
  font-weight: 600;
  font-size: 15px;
}

.dashboard-nav ul li {
  display: block;
  transition: 0.3s;
  line-height: 25px;
}

.dashboard-nav ul li a {
  color: #d3d6e8;
  display: block;
  padding: 11px 32px;
  font-size: 15px;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

.dashboard-nav a img {
  width: 24px;
}

.dashboard-nav ul li:hover:not(.judul) {
  background-color: rgba(113, 118, 152, 0.4);
}

.dashboard-sidebar {
  display: none;
}

a.active-nav {
  background-color: rgba(3, 3, 45, 0.5);
  border-left: 3px solid rgb(255, 255, 255);
}

.dashboard-nav img#logo {
  width: 80%;
}

.dashboard-nav .logo-wrapper {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding-left: 0.65rem;
}

.dashboard-nav .logo-wrapper img {
  height: 45px;
  width: 45px;
}

.dashboard-nav .logo-wrapper h2 {
  margin: 0;
  color: #ffffff;
}

.dashboard-nav .ds-menu{
  padding: 0 35px;
  margin-bottom: 8px;
  display: block;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
}

@media screen and (max-width: 1200px) {
  .dashboard-nav img#logo {
    width: 95%;
  }
  .sidenav {
    width: 200px;
  }

  .dashboard-nav ul li a {
    padding: 11px 22px;
  }
}

@media screen and (max-width: 768px) {
  .sidenav {
    display: none;
  }

  .dashboard-sidebar {
    display: block;
    padding-bottom: 20px;
  }

  div.dashboard-responsive-nav-trigger {
    width: 100%;
    margin: 0;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    padding: 16px 30px;
    font-weight: 600;
    transition: 0.2s;
    display: block;
    line-height: 26px;
  }

  .dashboard-nav {
    padding-bottom: 0;
  }

  .dashboard-nav:not(.detail) ul {
    max-height: 0;
    transition: 0.8s ease;
    margin: 0;
    overflow: hidden;
    background-color: #4b5496;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .dashboard-nav ul.active {
    padding: 0 0 25px 0;
    max-height: 1000px;
  }

  div.dashboard-responsive-nav-trigger.active {
    border-radius: 4px 4px 0 0;
  }

  div.dashboard-responsive-nav-trigger .trigger-title {
    margin-left: 35px;
  }
  .hamburger {
    position: absolute;
  }
  .hamburger .fa.fa-bars {
    font-size: 24px;
    color: #fff;
  }
}
