.next-kursus {
  outline: none;
  padding: 12px;
  border: 1px solid #dedfe0;
  background-color: #19b5fe;
  color: #fff;
  transition: 0.2s ease;
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
}

.next-kursus:hover {
  background-color: #1192cf;
  text-decoration: none;
  color: #fff;
}

.dashboard-main .card.kursus-card .card-body {
  padding: 20px;
}
.dashboard-main .card.kursus-card {
  padding: 0;
}

.dashboard-main iframe.kursus-tv {
  width: 100%;
  height: 600px;
}

@media only screen and (max-width: 768px) {
  .dashboard-main iframe.kursus-tv {
    height: 400px;
  }
}

@media only screen and (max-width: 600px) {
  .dashboard-main iframe.kursus-tv {
    width: 100%;
    height: 300px;
  }
}
