.card {
  box-shadow: 0 2px 4px 0 rgba(20, 23, 28, 0.15);
  transition: 0.2s ease;
}

.course-card.card {
  border-radius: 0px;
  transition: 0.2s ease;
  box-shadow: 0 1px 3px 0 rgba(20, 23, 28, 0.15);
}

.course-card.card:hover,
.card:hover {
  box-shadow: 0 2px 9px 2px rgba(20, 23, 28, 0.15);
}

.course-card {
  margin-bottom: 10px;
}

.card-body {
  padding: 0 20px 0 20px;
}

.checked {
  color: orange;
}

.card-body hr {
  border-top: 1px solid #f1f1f1;
}

.rating {
  margin-right: 4px;
  font-size: 15px;
}

.rating-vote {
  font-size: 13px;
}

.img__cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

section .thumbnail a {
  cursor: pointer;
}

section.footer .sitemap {
  color: #a8a8a8;
  margin-top: 5px;
}

section.footer .sitemap li {
  line-height: 2;
}

section.footer .sitemap a {
  font-weight: 300;
  color: inherit;
}

.img__contain {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.text-review {
  font-weight: normal;
  line-height: 1.5;
}

.btn-light2 {
  border-color: #e5e5e5;
  color: #a8a8a8;
}

.testimony {
  padding: 20px;
}

.testimony .profile {
  display: flex;
  margin: 15px 0 0 0;
}

.testimony .profile img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin-right: 14px;
  object-fit: fill;
}

.testimony .profile P {
  align-self: center;
  font-weight: 500;
}

.mentor-assign {
  border-right: 1px solid #dedfe0;
}

.mentor-assign p {
  max-width: 500px;
}

.student-assign p {
  max-width: 550px;
}

.student-assign button,
.mentor-assign button {
  margin-top: 12px;
  padding: 24px;
  border-radius: 4px;
  transition: 0.2s ease;
  border: 1px solid #dedfe0;
  background-color: #19b5fe;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  outline: none;
}

.student-assign button:hover,
.mentor-assign button:hover {
  background-color: #1192cf;
}

.hdr_img > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hdr_img div span {
  font-weight: 600;
  color: #0c1460;
}

.intro.btn-wrapper > div {
  position: relative;
  display: flex;
  flex-basis: 50%;
  justify-content: center;
}

.find-course.btn,
.find-class.btn {
  display: flex;
  color: #ffffff;
  border-width: 0px;
  border-radius: 9px;
  padding: 8px 20px;
  font-size: 20px;
  transition: all 300ms ease 0ms;
}

.find-class.btn {
  color: #3874ff !important;
  border: 1px solid;
}

.find-course.btn {
  background-image: linear-gradient(45deg, #2b87da 0%, #2167ff 100%);
}

.find-course.btn:hover,
.find-class.btn:hover {
  background-color: #151363 !important;
  background-image: initial !important;
  padding: 8px 24px;
}

.find-course.btn i.fa-angle-right,
.find-class i.fa-angle-right {
  transition: all 300ms ease 0ms;
  font-size: 30px;
  margin-left: -12px;
  opacity: 0;
  visibility: hidden;
}

.find-course.btn:hover i.fa-angle-right,
.find-class:hover i.fa-angle-right {
  visibility: visible;
  opacity: 1;
  margin-left: 12px;
}

button.to-learn-path {
  position: relative;
  outline: none;
  border: none;
  background: #fff;
  font-size: 14px;
  color: #2667ff;
  padding: 0;
  font-weight: 700;
}

button.to-learn-path:hover span {
  background-color: rgba(0, 0, 0, 0.05);
}

button.to-learn-path i.fa-angle-right {
  transition: all 300ms ease 0ms;
  visibility: hidden;
  opacity: 0;
}

button.to-learn-path:hover i.fa-angle-right {
  visibility: visible;
  opacity: 1;
  margin-left: 12px;
}

ul.benefit-list {
  margin-bottom: 50px;
  list-style: none;
  padding-left: 0;
}

ul.benefit-list li {
  display: flex;
}

ul.benefit-list li i.fa.fa-check-circle {
  font-size: 25px;
  color: #2667ff;
}

ul.benefit-list li p {
  padding-left: 20px;
}

@media only screen and (max-width: 992px) {
  .mentor-assign {
    border-right: none;
    border-bottom: 1px solid #dedfe0;
    padding-bottom: 40px;
  }

  .student-assign {
    padding-top: 40px;
  }
}
