.btcw.cta-bg {
  padding: 54px 0px;
  text-align: center;
}

.btcw.cta-bg p {
  font-weight: 600;
  text-transform: uppercase;
  color: #3bed9a;
  margin-bottom: 5px;
}

.btcw.cta-bg h2 {
  font-weight: 600;
  font-size: 34px;
  color: #ffffff;
}

.btcw .et_pb_button_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.btcw .et_pb_button_wrapper button.et_pb_button:not(:last-child) {
  margin: 0;
}

.btcw .et_pb_button_wrapper button.et_pb_button:last-child {
  margin: 0 0 0 75px;
  background-color: #3bed9a;
}

@media only screen and (max-width: 991px) {
  .btcw.cta-bg {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .btcw .et_pb_button_wrapper {
    flex-direction: column;
  }

  .btcw .et_pb_button_wrapper button.et_pb_button:not(:last-child) {
    width: max-content;
    justify-content: center;
    margin: auto;
  }

  .btcw .et_pb_button_wrapper button.et_pb_button:last-child {
    width: max-content;
    margin: 24px auto 0 auto;
    justify-content: center;
  }
}
