.navbar {
  position: fixed;
  top: 0;
  background-color: #333f52;
  z-index: 1;
  width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 0.875rem;
  color: #fff;
}

.navbar-nav .nav-link {
  text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link.btn {
  color: #bdc3c7;
  background-color: #3a5c91;
}

.navbar-dark .navbar-nav .nav-divider {
  background-color: #3a5c91;
}
.navbar-nav .nav-divider {
  width: 1px;
  height: calc(100% - 8px);
  display: inline-block;
  margin: 4px 1.25rem;
}

.navbar .nav-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.user-avatar {
  display: inline-block;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
}

.user-avatar img {
  display: inline-block;
  border-radius: 50%;
  image-rendering: -webkit-optimize-contrast;
}

.user-name {
  font-weight: 500;
  color: #333;
  padding: 2px 0 0 15px;
  font-size: 14px;
}

.header-notifications-dropdown {
  width: 300px;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
  padding: 0;
  position: absolute;
  top: calc(100%);
  right: -6px;
  text-align: left;
  z-index: 100;
  transform: scale(0.95);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  pointer-events: none;
}

.header-notifications {
  position: relative;
}

.header-notifications.active .header-notifications-dropdown {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.user-menu .header-notifications-dropdown:before {
  right: 23px;
}

.user-details {
  display: flex;
}
.header-notifications-dropdown:before {
  content: '';
  position: absolute;
  right: 43px;
  top: -6px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #d7d7d7;
}

.user-status {
  padding: 25px;
  border-bottom: 1px solid #e6e6e6;
}

ul.user-menu-small-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 20px 25px;
}

ul.user-menu-small-nav li a {
  text-decoration: none;
  display: block;
  padding: 6px 0;
  font-size: 14px;
  color: #666;
  transition: 0.3s;
}

ul.user-menu-small-nav li a:hover {
  color: #2a41e8;
}

.user-details {
  display: flex;
}

.status-icon.status-online,
.status-online:after {
  background-color: #38b653;
}

.nav-profile-text {
  color: #fff;
  margin-right: 12px;
}

.nav-profile-text p {
  margin: 0;
  font-size: 14px;
}

.notification-avatar:after,
.status-icon,
.user-avatar:after {
  position: absolute;
  content: '';
  height: 12px;
  width: 12px;
  background-color: silver;
  bottom: 4px;
  right: 0;
  display: block;
  border: 2px solid #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.status-icon.status-online,
.status-online:after {
  background-color: #38b653;
}

.header {
  margin-top: 66px;
  background-color: #3f506b;
}

.header > .header-content {
  padding-top: 60px;
  color: #ffffff;
}

.header > .header-content p {
  color: #bfbfbf;
}

.img-header {
  padding-bottom: 60px;
  width: 100%;
  max-width: 500px;
  height: auto;
}

.search-wrapper {
  flex-basis: 40%;
  align-self: center;
}

.input-group input {
  height: calc(1.5em + 0.85rem + 2px);
  padding: 0.375rem 0.75rem;
  background-color: #98a3b5;
  border-radius: 0px;
  border: none;
  outline: none;
}

.input-group input::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #34495e;
}

.input-group input:focus {
  background-color: #bac2d1;
  box-shadow: none;
}

.input-group-btn {
  display: flex;
}

.input-group-btn button {
  color: #2a41e8;
  background-color: #98a3b5;
  padding-right: 10px;
  padding-left: 10px;
  border: none;
}

.stretched-link::after {
  z-index: 0;
}

.nav-container {
  display: flex;
}

.search-wrapper-sm {
  display: none;
}

.brand-name {
  padding: 5px;
  margin-left: 10px;
}

.nav-item .fa.fa-cart-plus {
  cursor: pointer;
  color: white;
  font-size: 24px;
  margin-bottom: 4px;
  margin-right: 8px;
}

.nav-item .fa.fa-cart-plus:hover {
  color: rgba(255, 255, 255, 0.75)
}

@media only screen and (min-width: 1600px) {
  .navbar-collapse .left-nav {
    margin-left: 3rem;
  }
}

@media only screen and (max-width: 1240px) {
  .navbar-nav .nav-divider {
    display: none;
  }

  .navbar-collapse .nav-item a.nav-link,
  .navbar-collapse .nav-item span.nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 991px) {
  .nav-container {
    position: relative;
    display: block;
  }

  .nav-head {
    overflow: auto;
  }

  .brand-name {
    display: none;
  }

  .search-wrapper {
    display: none;
  }

  .nav-container {
    display: block;
  }

  .navbar-brand {
    float: left;
  }

  .navbar-toggler {
    float: right;
    margin-top: 5px;
  }

  button.navbar-toggler:focus {
    outline: none;
  }

  .search-wrapper-sm {
    position: absolute;
    display: block;
    left: 25%;
    margin-top: 6px;
    width: 50%;
  }

  .navbar-collapse .nav-item a.nav-link,
  .navbar-collapse .nav-item span.nav-link {
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
  }

  .navbar-collapse {
    position: absolute;
    display: block;
    background-color: #333f52;
    margin-top: 7px;
    padding: 20px;
    width: calc(100% - 29px);
    opacity: 0.95;
    box-shadow: 0 2px 4px 0 rgba(20, 23, 28, 0.15);
  }

  .navbar-collapse .nav-item {
    display: block;
    padding: 5px 0 5px 0;
  }

  .nav-item .fa.fa-cart-plus {
    display: none;
  }
}
