.kelas .kelas-head {
  flex-direction: column;
  min-height: 200px;
  align-items: center;
  justify-content: center;
}

.kelas .kelas-head .input-group {
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
}

.page-item.active .page-link {
  z-index: -1;
  color: #fff;
  background-color: rgb(46, 163, 242);
  border-color: rgb(46, 163, 242);
}

.page-link {
  color: rgb(46, 163, 242);
}

.pagination .page-item {
  cursor: pointer;
}

.tanggal-kelas {
  background-color: #6f69f1;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  right: 0;
  border-radius: 8px 8px 0 0;
  line-height: 40px;
  font-weight: 600;
  height: 40px;
  overflow: hidden;
  text-align: center;
}
