.kursus .kursus-head {
  flex-direction: column;
  min-height: 200px;
  align-items: center;
  justify-content: center;
}

.kursus .kursus-head .input-group {
  justify-content: center;
}

.kursus .pagination {
  display: flex;
  justify-content: center;
}

.kursus .pagination .page-item {
  cursor: pointer;
}