.dashboard-nav.detail ul {
  margin-top: 35px;
}

.dashboard-nav.detail ul li {
  position: relative;
  width: 90%;
  margin-block-start: 15px;
  margin-left: auto;
  margin-right: auto;
}

.dashboard-nav.detail ul li a:hover {
  background-color: #e5e8f3b3;
}

.dashboard-nav.detail ul li a {
  color: #000;
  display: block;
  padding: 11px 32px;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

.dashboard-nav.detail ul li.judul {
  cursor: pointer;
  padding: 0 20px;
  margin-bottom: 8px;
  display: block;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
}

.dashboard-nav.detail ul li.sembunyi {
  display: none;
}

.dashboard-nav.detail ul li.judul i.fa {
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 3.25px;
}

.dashboard-nav.detail ul li i.fa.fa-check-circle {
  font-size: 20px;
  position: absolute;
  color: #1abc9c;
  right: 20px;
  top: 14px;
}

.dashboard-nav ul::before {
  color: #ffffff;
}

.back-dashboard {
  color: #fff;
  padding-left: 25px;
}

a.back-dashboard:hover {
  text-decoration: none;
  color: #9eb3ff;
}

.back-dashboard span {
  margin-left: 12px;
}

@media screen and (max-width: 768px) {
  a.back-dashboard {
  }

  .dashboard-nav.detail {
    max-height: 0;
    transition: 1s ease;
    margin: 0;
    overflow: hidden;
    background-color: #4b5496;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .dashboard-nav.detail.active {
    padding: 25px 0;
    max-height: 1000px;
  }

  .dashboard-nav.detail ul {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}
