.pembelian-head {
  flex-direction: column;
}

.tab-wrapper {
  position: relative;
}

.tabbed-options {
  cursor: pointer;
  text-align: center;
  flex-basis: 33.3%;
  padding: 1rem;
  border-bottom: 3px solid #cccccc;
}

.tabbed-options span {
  color: #666;
  font-size: 22px;
  transition: color 0.15s;
}

.tabbed-options.active span {
  color: #f44336;
}

.slider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 33.333%;
  height: 3px;
  background-color: #f44336;
  transition: left 0.25s;
}

.tabbed-options:nth-child(1).active ~ .slider {
  left: 0%;
}

.tabbed-options:nth-child(2).active ~ .slider {
  left: 33.333%;
}

.tabbed-options:nth-child(3) ~ .slider {
  left: 66.666%;
}

.cart .cart-item {
  display: flex;
  -webkit-box-shadow: 0 0 2px #dedfe0;
  box-shadow: 0 0 2px #dedfe0;
  padding: 10px;
}

.cart .cart-item > div {
  padding: 0 12px;
}

.cart-item > div:nth-child(3) {
  margin-left: auto;
}

.cart-item > div:last-child {
  cursor: pointer;
}

.cart-item > div p {
  font-size: 15px;
  margin-bottom: 6px;
}

.cart-item > div p:last-child {
  font-size: 13px;
  margin-bottom: 12px;
}

.cart-item .remove-cart-item {
  color: #326bb1;
  transition: 0.2s;
}

.cart-item .remove-cart-item:hover {
  opacity: 0.7;
}

.cart-total {
  padding: 10px 20px;
}

.cart-total > p:nth-child(1) {
  margin-bottom: 10px;
}

.cart-total > p:nth-child(3) {
  margin-bottom: 0;
  text-decoration: line-through;
}

.cart-total > p:nth-child(4) {
  font-size: 13px;
  color: #7f8b9c;
}

.cart-total > a:nth-child(5) {
  display: block;
  text-decoration: none;
  background-color: #ec5252;
  border-radius: 3px;
  text-align: center;
  font-weight: 600;
  color: #fff;
  padding: 12px;
  font-size: 18px;
  transition: 0.2s;
  cursor: pointer;
}

.cart-total > a:nth-child(5):hover {
  opacity: 0.8;
}

.cart-total > div:nth-child(6) {
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid #cacaca;
}

.cart-total > div:nth-child(6) ul {
  list-style: none;
  padding-left: 4px;
}

.cart-total > div:nth-child(6) ul i.fa.fa-times {
  color: #ec5252;
  cursor: pointer;
}

.pembayaran .bank-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  box-shadow: 0 0 2px #000000;
  height: fit-content;
  border-radius: 12px;
}

.pembayaran .bank-list h5.bank-list-title {
  margin: 14px 0;
}

.pembayaran .bank-wrapper {
  position: relative;
  border-top: 1px solid #e8e8e8;
  flex-direction: column;
  width: 320px;
  padding: 10px;
  border-radius: 12px;
}

.pembayaran .bank-wrapper span.material-icons {
  position: absolute;
  left: -32px;
  top: 47%;
}

.pembayaran .bank-logo {
  padding: 12px 0;
}

.pembayaran .bank-info {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}

.pembayaran .bank-info ul {
  list-style-type: none;
  padding-left: 0;
}

.pembayaran .bank-info ul:first-child li {
  padding: 6px 0;
  color: #868686;
}

.pembayaran .bank-info ul:last-child li {
  padding: 6px 0;
  color: black;
  font-weight: 600;
}

.pembayaran .bank-list .confirm-payment.button {
  background-color: #ec5252;
  border-radius: 3px;
  margin-top: 12px;
  text-align: center;
  font-weight: 600;
  color: #fff;
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
  padding: 20px;
  cursor: pointer;
  transition: 0.2s;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.pembayaran .bank-list .confirm-payment.button:hover {
  opacity: 0.7;
}

.pembayaran .invoice {
  border: 1px solid #ccc;
  padding: 25px;
}

.invoice-status {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

.unpaid {
  color: #c00;
}

.invoice > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
}

.invoice .table td,
.invoice .table th {
  width: 70%;
}

.panel-title {
  padding: 10px;
}

.pembayaran .invoice-dp {
  display: flex;
  justify-content: center;
  padding-top: 12px;
}

.pembayaran .invoice-dp .btn-default {
  border: 1px solid;
  transition: 0.2s;
}

.pembayaran .invoice-dp .btn-default i.fa {
  padding-right: 10px;
}

.pembayaran .invoice-dp .btn-default:hover {
  background-color: #616aff;
  border: 1px solid #000;
  color: #fff;
}

.pembayaran .invoice-dp .btn-default:nth-child(2) {
  margin-left: 12px;
}

.invoice.pdf {
  display: block;
  width: 725px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  border: 1px solid #ccc;
}

@media only screen and (max-width: 992px) {
  .cart div.row > div {
    padding: 0;
  }

  .cart div.row > div:last-child {
    margin-top: 2rem;
  }

  .pembayaran > .row {
    flex-direction: column-reverse;
  }

  .pembayaran > .row > * {
    padding: 0;
    margin-bottom: 2.5rem;
  }

  .pembayaran .bank-list {
    padding-top: 40px;
  }

  .pembayaran .bank-wrapper {
    border-top: none;
  }

  .pembayaran .bank-list h5.bank-list-title {
    position: absolute;
    top: 16px;
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .cart .cart-item {
    flex-wrap: wrap;
  }

  .cart .cart-item > div:nth-child(2) {
    padding: 0 12px 12px 12px;
  }

  .cart-item > div:last-child {
    position: absolute;
    right: 0;
  }

  .cart-item > div:nth-child(3) {
    margin-left: 0;
  }
}

@media only screen and (max-width: 519px) {
  .cart-item > div:nth-child(2) {
    margin-right: 53px;
  }
}

@media only screen and (max-width: 466px) {
  .cart-item > div:nth-child(2) {
    margin-right: 0px;
  }
}
