.pembelian-head {
  flex-direction: column;
}

.tab-wrapper {
  position: relative;
}

a.tabbed-options {
  text-decoration: none;
}

.tabbed-options {
  cursor: pointer;
  text-align: center;
  flex-basis: 33.3%;
  padding: 1rem;
  border-bottom: 3px solid #cccccc;
}

.tabbed-options span {
  color: #666;
  font-size: 22px;
  transition: color 0.15s;
}

.tabbed-options.active span {
  color: #f44336;
}

.slider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 33.333%;
  height: 3px;
  background-color: #f44336;
  transition: left 0.25s;
}

.tabbed-options:nth-child(1).active ~ .slider {
  left: 0%;
}

.tabbed-options:nth-child(2).active ~ .slider {
  left: 33.333%;
}

.tabbed-options:nth-child(3) ~ .slider {
  left: 66.666%;
}

.pembelian .elementor-widget-container {
  padding-left: 5rem;
}

.pembelian .elementor-widget-container ul.step-num li .num,
.pembelian .elementor-widget-container ul.step-num li .num-txt {
  cursor: pointer;
}

.pembelian .elementor-widget-container ul.step-num li.active .num {
  background: #f44336;
  color: #fff;
  border-color: #f44336;
}

.pembelian .elementor-widget-container ul.step-num li:not(.active):hover .num {
  background: #fff;
  color: #2667ff;
  border-color: #2667ff;
}

.pembelian .elementor-widget-container .step-num::before {
  content: '';
  position: absolute;
  left: 9%;
  width: 73%;
  height: 3px;
  background: #f44336;
  top: 23px;
}

.pembelian .elementor-widget-container ul.step-num li.active .num-txt {
  color: #f44336;
}

.pembelian .elementor-widget-container ul.step-num li:not(.active):hover .num-txt {
  color: #5c6185;
  font-weight: 400;
}

.cart .cart-item {
  display: flex;
  -webkit-box-shadow: 0 0 2px #dedfe0;
  box-shadow: 0 0 2px #dedfe0;
  margin-bottom: 16px;
  padding: 10px;
}

.cart .cart-item > div {
  padding: 0 12px;
}

.cart-item > div:nth-child(3) {
  margin-left: auto;
}

.cart-item > div:nth-child(2) {
  position: relative;
  cursor: pointer;
}

.cart-item > div:last-child p {
  cursor: pointer;
}

.cart-item > div p {
  font-size: 15px;
  margin-bottom: 6px;
}

.cart-item > div p:last-child {
  font-size: 13px;
  margin-bottom: 12px;
}

.cart-item .remove-cart-item {
  color: #326bb1;
  transition: 0.2s;
}

.cart-item .remove-cart-item:hover {
  opacity: 0.7;
}

.cart-total {
  padding: 10px 20px;
}

.cart-total > p.total-label {
  margin-bottom: 10px;
}

.cart-total > p.total-promo-price {
  margin-bottom: 0;
  text-decoration: line-through;
}

.cart-total > p.total-discount {
  font-size: 13px;
  color: #7f8b9c;
}

.cart-total > div.pay-btn {
  display: block;
  text-decoration: none;
  background-color: #ec5252;
  border-radius: 3px;
  text-align: center;
  font-weight: 600;
  color: #fff;
  padding: 12px;
  font-size: 18px;
  transition: 0.2s;
  cursor: pointer;
}

.cart-total > div.pay-btn:hover {
  opacity: 0.8;
}

.cart-total > div.coupon {
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid #cacaca;
}

.cart-total > div.coupon ul {
  list-style: none;
  padding-left: 4px;
}

.cart-total > div.coupon ul i.fa.fa-times {
  color: #ec5252;
  cursor: pointer;
}

.cart .shopping-list--empty {
  box-shadow: 0 0 2px #dedfe0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
}

.cart .shopping-list--empty .keep-shopping-action:hover {
  opacity: 0.7;
}

.cart .keep-shopping-action {
  display: block;
  text-decoration: none;
  background-color: #ec5252;
  border-radius: 3px;
  text-align: center;
  font-weight: 600;
  color: #fff;
  padding: 12px;
  font-size: 18px;
  transition: 0.2s;
  cursor: pointer;
}

.pembayaran .bank-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  box-shadow: 0 0 2px #000000;
  height: fit-content;
  border-radius: 12px;
}

.pembayaran .bank-list h5.bank-list-title {
  margin: 14px 0;
}

.pembayaran .bank-wrapper {
  position: relative;
  border-top: 1px solid #e8e8e8;
  flex-direction: column;
  width: 320px;
  padding: 10px;
  border-radius: 12px;
}

.pembayaran .bank-wrapper span.material-icons {
  position: absolute;
  left: -32px;
  top: 47%;
}

.pembayaran .bank-logo {
  padding: 12px 0;
}

.pembayaran .bank-info {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}

.pembayaran .bank-info ul {
  list-style-type: none;
  padding-left: 0;
}

.pembayaran .bank-info ul:first-child li {
  padding: 6px 0;
  color: #868686;
}

.pembayaran .bank-info ul:last-child li {
  padding: 6px 0;
  color: black;
  font-weight: 600;
}

.pembayaran .bank-list .confirm-payment.button {
  background-color: #ec5252;
  border-radius: 3px;
  margin-top: 12px;
  text-align: center;
  font-weight: 600;
  color: #fff;
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px;
  cursor: pointer;
  transition: 0.2s;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.pembayaran .bank-list .confirm-payment.button:hover {
  opacity: 0.7;
}

.pembayaran .invoice {
  border: 1px solid #ccc;
  padding: 25px;
}

.invoice-status {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

.invoice > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
}

.panel-title {
  padding: 10px;
}

.pembayaran .invoice-dp {
  display: flex;
  justify-content: center;
  padding-top: 12px;
}

.pembayaran .invoice-dp .btn-default {
  border: 1px solid;
  transition: 0.2s;
}

.pembayaran .invoice-dp .btn-default i.fa {
  padding-right: 10px;
}

.pembayaran .invoice-dp .btn-default:hover {
  background-color: #616aff;
  border: 1px solid #000;
  color: #fff;
}

.pembayaran .invoice-dp .btn-default:nth-child(2) {
  margin-left: 12px;
}

.invoice.pdf {
  display: block;
  width: 725px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  border: 1px solid #ccc;
}

.konfirmasi .input-container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.konfirmasi .form-group {
  display: flex;
  margin-bottom: 15px;
}

.konfirmasi .form-group label {
  margin-top: 4px;
  text-align: right;
}

.konfirmasi .form-control {
  color: #555;
  background-color: #fff;
  background-image: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 1px solid #ccc;
}

.konfirmasi .form-control.error-form {
  border-color: red;
}

.pembelian .error-text {
  margin-top: 0.25rem;
  margin-bottom: 0;
}

.konfirmasi .react-datepicker-wrapper {
  width: 100%;
}

.konfirmasi .label-bg {
  font-size: 20px;
  color: #fff;
  width: 38px;
  height: 38px;
  border-radius: 0.25rem 0 0 0.25rem;
  background-color: #36a1ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.konfirmasi .form-control.with-label-bg {
  border-radius: 0 0.25rem 0.25rem 0;
  border-left: 0px;
  height: 38px;
}

.konfirmasi .form-check-label {
  cursor: pointer;
  color: black;
  font-weight: 600;
}

.konfirmasi .form-check .form-check-input {
  cursor: pointer;
  margin-top: 10px;
}

.konfirmasi .btn-confirm {
  margin-left: auto;
  margin-right: auto;
  display: block;
  outline: none;
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 80px;
  background-color: #36a1ff;
  transition: 0.4s;
  color: #fff;
}

.konfirmasi .btn-confirm:hover {
  background-color: #534bff;
}

.konfirmasi .form-group .bank-wrapper {
  position: absolute;
  z-index: 88;
  border-radius: 8px;
  border: 1px solid;
  left: 23%;
  visibility: hidden;
  top: 18%;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.konfirmasi .form-group .bank-wrapper img {
  border-radius: 8px;
  width: 300px;
}

.konfirmasi .form-group .form-check-label:hover ~ .bank-wrapper {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.pembelian .empty-invoice {
  text-align: center;
}

.pembelian .empty-invoice .form-group {
  padding: 14px 0;
}

.pembelian .empty-invoice .form-control {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 2px #ccc;
  margin: auto;
  max-width: 300px;
}

.pembelian .cari-invoice {
  display: block;
  text-decoration: none;
  background-color: #ec5252;
  border-radius: 3px;
  text-align: center;
  font-weight: 600;
  color: #fff;
  padding: 12px;
  font-size: 18px;
  transition: 0.2s;
  cursor: pointer;
}
.pembelian i.fa.fa-question-circle {
  margin-top: 0px;
  color: #ff5f5f;
}

.pembelian .invoice-hint-trigger {
  cursor: pointer;
}

.pembelian .invoice-hint {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 50;
  width: 16rem;
  border: 1px solid #ccc;
  border-radius: 9px;
}

.pembelian .invoice-hint-trigger:hover ~ .invoice-hint {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.pembelian .not-login {
  text-align: center;
}

.pembelian .auth-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.pembelian .auth-invoice {
  display: block;
  width: 120px;
  text-decoration: none;
  background-color: #ec5252;
  border-radius: 3px;
  text-align: center;
  font-weight: 600;
  color: #fff;
  padding: 8px 0;
  font-size: 18px;
  transition: 0.2s;
  cursor: pointer;
  max-width: 150px;
}

.pembelian .auth-invoice:hover,
.pembelian .cari-invoice:hover {
  opacity: 0.7;
}

.form-control.error-form {
  border-color: red !important;
}

@media only screen and (max-width: 992px) {
  .cart div.row > div {
    padding: 0;
  }

  .cart div.row > div:last-child {
    margin-top: 2rem;
  }

  .pembayaran > .row {
    flex-direction: column-reverse;
  }

  .pembayaran > .row > * {
    padding: 0;
    margin-bottom: 2.5rem;
  }

  .pembayaran .bank-list {
    padding-top: 40px;
  }

  .pembayaran .bank-wrapper {
    border-top: none;
  }

  .pembayaran .bank-list h5.bank-list-title {
    position: absolute;
    top: 16px;
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .cart .cart-item {
    flex-wrap: wrap;
  }

  .cart .cart-item > div:nth-child(2) {
    padding: 0 12px 12px 12px;
  }

  .cart-item > div:last-child {
    position: absolute;
    right: 0;
  }

  .cart-item > div:nth-child(3) {
    margin-right: 70px;
    margin-left: 0;
  }

  .cart-item img {
    max-width: 160px !important;
    padding: 0 12px 12px 12px;
  }

  .tabbed-options {
    padding: 1rem 5px;
  }

  .tabbed-options span {
    font-size: 16px;
  }

  .konfirmasi .form-group label {
    text-align: left;
  }

  .konfirmasi .form-group .bank-wrapper img {
    width: 240px;
  }
}

@media only screen and (max-width: 519px) {
  .cart-item > div:nth-child(2) {
    margin-right: 53px;
  }
}
