.row {
  margin: 0;
}

.text-merriweather {
  font-family: Merriweather, serif;
  letter-spacing: 0.2px;
  font-weight: 600;
}

h7,
.h7 {
  font-size: 0.875rem;
}

.form-group__icon:before {
  position: absolute;
  content: '';
  top: 11px;
  height: calc(100% - 22px);
  border-right: 1px solid #e6e6e6;
  left: 41px;
}

.form-group__icon {
  position: relative;
}

.form-group__icon .form-control {
  padding-left: 53px;
}

.form-control {
  font-size: 0.875rem;
  background-color: #fbfbfb;
  border: 1px solid #efefef;
}

.error-text {
  color: red;
  margin-top: -0.8rem;
  margin-bottom: 1rem;
}

.form-control.error-form {
  border-color: red;
}

.auth-notif-error {
  padding: 16px;
  background-color: tomato;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.auth-notif-success {
  padding: 16px;
  background-color: #33b585;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.form-group__icon i[class*='icon'] {
  position: absolute;
  top: 6px;
  left: 9px;
  font-size: 24px;
  color: #2b50b4;
}

.container--light-grey {
  background: #f7f8fa;
}

.container--light-blue {
  background-color: #f8f9fb !important;
}

.course-card.card {
  border-radius: 8px;
}

.card-body {
  padding: 10px;
}

.student-subscr {
  font-size: 15px;
}

h6.kursus-title {
  margin-top: 0.75rem;
  min-height: 60px;
  font-weight: 600;
}

.card-body hr {
  margin: 0.4rem 0;
}

img.teacher-avatar {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin-right: 5px;
}

.bg-gradient-danger {
  background: #dc3545 linear-gradient(180deg, #e15361, #dc3545) repeat-x !important;
  color: #fff;
}

.btn-info {
  color: #fff;
  background-color: #5d69d8;
  transition: 0.2s;
  border: none;
}

.btn-info:hover {
  background-color: #5433ad;
}

.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show > .btn-info.dropdown-toggle,
.btn-info:not(:disabled):not(.disabled):focus {
  color: #fff;
  border: none;
  outline: none;
  outline: none;
  box-shadow: none;
  background-color: #5433ad;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: '';
  background-color: rgba(0, 0, 0, 0);
}

h1.merriweather {
  color: #0c1460;
}

.img__cover_kelas {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

button.et_pb_button {
  position: relative;
  cursor: pointer;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-width: 0px !important;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  padding: 0.3em 1em;
  line-height: 1.7em !important;
  transition: all 300ms ease 0ms;
  background-color: #ffffff;
  color: #2667ff;
}

button.et_pb_button:hover {
  color: #ffffff;
  background-image: initial;
  background-color: #151363;
}

button.et_pb_button i.fa-angle-right {
  transition: all 300ms ease 0ms;
  font-size: 30px;
  margin-left: -12px;
  opacity: 0;
  visibility: hidden;
}

button.et_pb_button:hover i.fa-angle-right {
  visibility: visible;
  opacity: 1;
  margin-left: 12px;
}

.et_pb_row_2 {
  display: flex;
  background-image: url(/assets/img/affiliate-cta-bg.jpg);
  overflow: hidden;
  margin-top: 1.5rem;
  padding: 50px 10px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: space-around;
}

span.et_pb_button_2 {
  border-width: 0px !important;
  font-size: 17px;
  font-weight: 700 !important;
}

h5.et_pb_text_0 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #3874ff !important;
}

.form-control:focus {
  border: 1px solid #efefef;
  box-shadow: none;
}

.input-group-text {
  background-color: #ff8585;
  border: 1px solid #ff8585;
  color: #fff;
}

.input-group-prepend {
  cursor: pointer;
  transition: 0.2s;
}

.input-group-prepend:hover {
  opacity: 0.7;
}

.card-no-shadow {
  position: relative;
  padding: 20px 40px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(20, 23, 28, 0.15);
}

.search-not-found {
  margin-bottom: 2rem;
  text-align: center;
}

.elementor-widget-container {
  display: flex;
  justify-content: center;
}

.elementor-widget-container ul.step-num {
  position: relative;
  display: flex;
  list-style: none;
  padding: 0;
}

.elementor-widget-container ul.step-num li {
  font-size: 20px;
  text-align: center;
  z-index: 10;
  transition: 0.4s;
}

.elementor-widget-container ul.step-num li:not(:last-child) {
  margin-right: 40px;
}

.elementor-widget-container ul.step-num li a {
  text-decoration: none;
  color: #5c6185;
  font-weight: 400;
  transition: all 300ms ease 0s;
}

.elementor-widget-container ul.step-num .num {
  font-family: 'Quicksand', Sans-serif;
  width: 46px;
  height: 46px;
  display: block;
  border: 2px solid #1c4dbf;
  font-size: 22px;
  color: #1c4dbf;
  font-weight: 600;
  border-radius: 50%;
  margin: auto;
  background: #f6f9fb;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease 0s;
}

.elementor-widget-container ul.step-num li.active .num,
.elementor-widget-container ul.step-num li:hover .num {
  background: #2667ff;
  color: #fff;
  border-color: #2667ff;
}

.elementor-widget-container ul.step-num li.active a .num-txt,
.elementor-widget-container ul.step-num li:hover a .num-txt {
  color: #2667ff;
  font-weight: 500;
}

.elementor-widget-container .step-num::before {
  content: '';
  position: absolute;
  left: 5%;
  width: 85%;
  height: 3px;
  background: #1c4dbf;
  top: 23px;
}

.unpaid {
  color: #ff2323;
}

.paid {
  color: #33bb37;
}

.pending {
  color: #5599ff;
}

.canceled {
  color: #ff2323;
}

.invoice {
  border: 1px solid #ccc;
  padding: 25px;
}

.invoice-status {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

.invoice > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
}

.panel-title {
  padding: 10px;
}

.invoice-dp {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.invoice-dp .btn-default {
  border: 1px solid;
  transition: 0.2s;
  margin-top: 12px;
}

.invoice-dp .btn-default i.fa {
  padding-right: 10px;
}

.invoice-dp .btn-default:hover {
  background-color: #616aff;
  border: 1px solid #000;
  color: #fff;
}

.invoice-dp .btn-default:nth-child(2) {
  margin-left: 12px;
}

.invoice.pdf {
  display: block;
  width: 725px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  border: 1px solid #ccc;
}

.invoice .table tbody td {
  width: auto;
}

button.subscribe {
  display: flex;
  width: 100%;
  border-radius: 20px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 300ms ease 0ms;
  cursor: pointer;
  outline: none;
  border: none;
  align-items: center;
  padding: 0.3em 1em;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7em !important;
  transition: 0.2s;
  color: #ffffff;
  background-color: #3874ff;
  margin-top: 24px;
}

button.subscribe i.fa-angle-right {
  transition: all 300ms ease 0ms;
  font-size: 30px;
  margin-left: -8px;
  opacity: 0;
  visibility: hidden;
}

button.subscribe:hover i.fa-angle-right {
  visibility: visible;
  opacity: 1;
  margin-left: 8px;
}

.list-detail {
  background-color: #f4f8fd;
  border-radius: 25px 25px 25px 25px;
  overflow: hidden;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  height: max-content;
}

.list-detail .price {
  text-align: center;
  border-bottom: 1px solid #2667ff;
  padding-bottom: 15px;
}

.list-detail .price h5 {
  margin: 0;
  text-decoration: line-through;
  font-size: 16px;
}

.list-detail .price p:last-child {
  font-style: italic;
  font-size: 14px;
  margin: 0;
}

.list-detail .price h2 {
  color: #3874ff;
  font-size: 40px;
}

.list-detail .desc {
  padding-top: 15px;
}

.list-detail .desc h3 {
  font-size: 20px;
  padding-bottom: 12px;
}

.list-detail .desc ul {
  list-style: none;
  padding-left: 0;
  line-height: 2;
}

.list-detail .desc ul li {
  display: flex;
  padding-bottom: 10px;
  font-size: 15px;
}

.list-detail .desc ul li *:first-child {
  font-size: 20px;
  padding-right: 10px;
  color: #3874ff;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.detail-kursus .et_pb_row_2,
.detail-kelas .et_pb_row_2 {
  border-radius: 15px;
}

.detail-kursus button.et_pb_button:hover,
.detail-kelas button.et_pb_button:hover {
  background-color: rgb(255, 97, 97);
}

.fs-18 {
  font-size: 18px;
  line-height: 1.8;
  font-weight: 500;
}

@media only screen and (max-width: 1250px) {
  br.xl {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  br.lg {
    display: none;
  }

  .list-detail {
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 768px) {
  .table {
    display: block;
    overflow: auto;
  }

  br.md {
    display: none;
  }
}

@media only screen and (max-width: 560px) {
  br.sm {
    display: none;
  }
}
