:root {
  --indigo-3: #322f56
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #5c6185;
  text-align: left;
  background-color: #fff;
  font-family: 'Muli',Helvetica,Arial,Lucida,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #0c1460;
  font-family: 'Quicksand',Helvetica,Arial,Lucida,sans-serif;
}

h2 {
  font-size: 26px;
}
