.fp-container {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fp-wrapper {
  display: block;
  width: 450px;
  color: #0c1460;
  border: 1px solid #c7c7c7;
  padding: 20px;
  border-radius: 15px;
}

.fp-wrapper h3 {
  font-size: 24px;
}

.fp-wrapper p {
  margin-bottom: 10px;
}

.fp-wrapper .form-control:not(.is-invalid) {
  margin-bottom: 20px;
  border: 1px solid #848bcc;
}


.fp-wrapper .form-control.is-invalid ~ div {
  margin-bottom: 20px;
}

@media only screen and (max-width: 564px) {
  .fp-wrapper {
    width: 325px;
  }
}