.rp-container {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rp-wrapper {
  display: block;
  width: 450px;
  border: 1px solid #c7c7c7;
  padding: 20px;
  border-radius: 15px;
}

.rp-wrapper .form-group {
  position: relative;
}

.rp-wrapper form i.fa {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 40px;
}

@media only screen and (max-width: 564px) {
  .rp-wrapper {
    width: 325px;
  }
}