.dashboard-dk .table {
  box-shadow: 0 2px 4px 0 rgba(20, 23, 28, 0.15);
  text-align: center;
}

.dashboard-dk .table tbody td {
  width: auto;
}

.dashboard-dk .table thead tr {
  color: white;
  background-color: rgb(234, 73, 73);
}

.dashboard-dk .table tbody tr:nth-child(even) {
  background-color: rgb(245, 245, 245);
}

@media only screen and (max-width: 768px) {
  .dashboard-dk {
    padding-right: 8px !important;
    padding-left: 8px !important;
  }
}
